.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    
}
.bg{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
   background-repeat: no repeat;

}
ul li{

    list-style: none;

}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
}
.btn{
    font-weight: bold;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.h3-head{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
section{
    text-align: center;
    margin: 158px;
}
nav li{
   
    padding: 50px 100px;
}
.h3-head{
    margin-bottom: 30px;
}
.btn:hover{
    background-color: yellow;
    color: #252432;
}
.h3-banner{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.p-banner{
    font-weight: 500;
    font-size: 24px;
    color: #494861;
}
.photo{
    border-radius: 48px;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-section{
    text-align: justify;
    padding: 50px;
}
.bg-color{
    background-color: #e3e3f0;
}
.h3-banner2{
    font-weight: bold;
    font-size: 38px;
}
.banner-title{
    display: flex;
    gap: 0px;
    justify-content: space-around;
    margin-top: 20px;
}
.title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.title-1{
    font-weight: lighter;
    font-size: 20px;
    color: #494861;
}
.banner2{
    padding: 80px;
    background-color: #cfcef2;
    border-radius: 10px;
}